body{
         background-color:tomato ;
         border:2px solid blue;
        }
       @media only screen and (max-width: 500px) {  
           body {  
                background-color:rgb(91, 43, 155);  
                border:2px solid white;
           }  
            h1{
                font-size: inherit;
            }
        }